.notFound {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.notfoundTitleNumber {
    font-size: 166px;
    font-weight: bold;

    line-height: 1;

    margin-top: 0;

    color: rgba(0, 0 ,0 , 0.4);
}

.notfoundTitleText {
    font-size: 28px;

    color: rgba(0, 0 ,0 , 0.4);
}
